html {
  font-size: 12px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

*, :after, :before {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding: 75px 80px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button:active, button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

