.first {

  &__main {
    display: flex;
    background: #FFFFFF;

    &--info {
      width: 50%;
      background: linear-gradient(180deg, #428A60 0%, #35734F 100%);
      box-shadow: 0 24px 80px rgba(0, 0, 0, 0.1);
      border-radius: 1px;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        background: #428A60;
        width: 398px;
        height: 398px;
        border-radius: 50%;
        left: 20px;
        top: 71px;
        z-index: -1;
      }

      &:after {
        content: '';
        position: absolute;
        opacity: 0.03;
        border: 20px solid #FFFFFF;
        width: 688px;
        height: 688px;
        border-radius: 50%;
        top: -95px;
        left: 235px;
        z-index: -2;
      }


      &-bg {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #FFFFFF;
        padding: 40px 40px 35px;
        background: url("../img/image2.png") no-repeat 60% 85%;
      }

      &-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
      }
    }

    &--link {
      width: 50%;

      &-container {
         max-width: 325px;
        margin: 0 auto;
      }

      &-wrap {
        background: #F8F8F8;
        border-top-right-radius: 30px;
      }

      &-title {
        font-size: 2.5rem;
        line-height: 39px;
        text-align: center;
        font-weight: 800;
        padding: 29px 0;
        color: #212121;
      }

      &-form {
        display: flex;
        flex-wrap: wrap;
        padding: 32px 5px 0 0;

        &-wrap {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          width: 100%;
        }

        &-label {
          width: 100%;
          font-weight: 800;
          padding: 20px 0 10px;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          color: #212121;
          line-height: 16px;

          &-green {
            color: #428A60;
          }
        }

        &-input {
          width: 100%;
          font-size: 1.16rem;
          font-weight: 600;
          background: #F8F8F8;
          padding: 16px 20px;
          border: 1px solid #E4E4E4;
          border-radius: 5px;

          &-phone {
            width: 57%;
            margin-right: 20px;
          }

          &::placeholder {
            color: rgba(33,	33,	33, 0.2);
          }

          &-country {
            padding: 0;
            flex-grow: 1;
            position: relative;
            font-weight: 600;
            background: #F8F8F8 url("../img/image7.png") no-repeat 60% 55%;
            font-size: 1.16rem;
            border: 1px solid #E4E4E4;
            border-radius: 5px;
            overflow: hidden;

            &-select {
              width: 135%;
              padding: 15px ;
              border: none;
              background: transparent;
            }

            &:after {
              content: "";
              display: block;
              width: 8px;
              height: 8px;
              border: 2px solid black;
              transform: rotate(45deg);
              border-left: none;
              border-top: none;
              position: absolute;
              top: calc(50% - 4px);
              right: 20px;
              z-index: 1;
            }
          }
        }

        &-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background: #428A60;
          border: none;
          border-radius: 5px;
          color: #FFFFFF;
          font-size: 1.16rem;
          line-height: 18px;
          padding: 12px 0;
          margin: 38px 0 60px;
          outline: none;
          letter-spacing: 0.3px;

          &-arrow {
            height: 2px;
            position: relative;
            width: 15px;
            background: #FFFFFF;
            display: inline-block;
            vertical-align: bottom;
            margin-left: 10px;

            &:before {
              content: " ";
              width: 2px;
              background: #FFFFFF;
              height: 8px;
              position: absolute;
              top: -1px;
              transform: rotate(50deg);
              right: 2px;
            }

            &:after{
              content: " ";
              width: 2px;
              background: #FFFFFF;
              height: 8px;
              position: absolute;
              top: -5px;
              transform: rotate(-50deg);
              right: 2px;
            }
          }
        }
      }
    }

    &--secure {
      justify-content: center;
      display: none;
      padding: 11px;
      background: #F8F8F8;
      margin: 0 -20px;

      &-text {
        font-size: 1.16rem;
        font-weight: 700;
        margin: 0 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }
  .first {

    &__main {
      flex-direction: column;

      &--info {
        width: 100%;
        background: none;
        box-shadow: none;

        &-bg {
          flex-direction: row;
          padding: 0;
          min-height: 265px;
          background-size: 223px 122px;
          background-position: 60% 55%;
        }

        &-title {
          color: black;
        }

        &:before {
          width: 202px;
          height: 202px;
          top: calc(50% - 101px);
          left: calc(50% - 101px);
        }
      }

      &--link {
        width: 100%;

        &-container {
          max-width: 100%;
        }

        &-wrap {
          background: none;
        }

        &-title {
          margin: 5px 0 -5px;
          padding: 0;

          &-br {
            display: none;
          }
        }

        &-form {
          padding: 12px 0 0;

          &-input {
            padding: 16px 10px;

            &-phone {
              width: 62%;
              margin-right: 10px;
            }

            &-country {

              &:after {
                right: 10px;
              }

              &-select {
                padding: 16px 10px;
              }
            }
          }

          &-btn {
            margin: 30px 0;
          }
        }
      }

      &--secure {
        display: flex;

      }
    }
  }
}


